<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>605775634775-1n9ognqdim2nspq7drd5o94a1dvei25s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605775634775-1n9ognqdim2nspq7drd5o94a1dvei25s</string>
	<key>API_KEY</key>
	<string>AIzaSyAiithSOfVTZniLdHMHqGixX_RjyODTtbg</string>
	<key>GCM_SENDER_ID</key>
	<string>605775634775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bryanye.ASKTv</string>
	<key>PROJECT_ID</key>
	<string>asktv-d9bc7</string>
	<key>STORAGE_BUCKET</key>
	<string>asktv-d9bc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:605775634775:ios:11c26fb55d984437</string>
	<key>DATABASE_URL</key>
	<string>https://asktv-d9bc7.firebaseio.com</string>
</dict>
</plist>